NODE_ENV="development"                  # options: development, production
PORT=6969                               # port number
HOST="localhost"                        # host name

CORS_ORIGIN="http://localhost:*"        # CORS origin